#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

body{
    background-image: url('h.webp');
    background-size:cover;
    font-family: cursive;
}

label{
    background-color: black;
    color:white
}

h4{
    width:35%;
}

img:hover{
    border-radius: 140px;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 1500px;;
    text-align: center;
    align-self: center;
    background-color: grey;
}